body {
  background-color: #33CCFF;
  color: #fff;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

